@model sales_web_mvc.Models.Seller
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this?</h3>

<div>
<h4>Seller</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.BirthDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.BirthDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.BaseSalary)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.BaseSalary)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Department)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Department)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>
